name: Build Onish-Kernel

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@nightly # Nightly is usually better for custom targets
      with:
        components: rust-src

    - name: Install ARM Toolchain
      run: sudo apt-get update && sudo apt-get install -y gcc-arm-none-eabi

    - name: Build Kernel
      # We use -Zbuild-std because the custom target doesn't have a pre-compiled 'core'
      run: |
        cargo build --release --target target.json -Z build-std=core,compiler_builtins

    - name: Convert to .bin
      run: |
        # Look in the 'release' folder and use the correct target name
        arm-none-eabi-objcopy -O binary \
          target/armv7-onish-uk/release/kernel \
          onish-kernel.bin

    - name: Upload Kernel Image
      uses: actions/upload-artifact@v4
      with:
        name: onish-kernel-binary
        path: onish-kernel.bin
